* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

li {
    list-style: none;
}

.site {
    padding: 6vh 7vw 5vh 7vw;
}


/*-------------------------*/
/* HEADER */
/*------------------------*/

.header-container {
    width: 100%;
}


/*---------- NAV -----------*/

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__list {
    display: flex;
}

.nav__link {
    color: black;
    font-size: 118%;
    font-weight: 700;
    text-decoration: none;
    transition: .2s;
}

.nav__link:nth-of-type(1) {
    margin-left: 30px;
}

.nav__link:hover {
    color: #4A4FF2;
}


/*-------------------------*/
/* INTRODUCTION */
/*------------------------*/

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 96px;
    width: 80vw;
}

.intro__container {
    display: flex;
    flex-direction: column;
    max-width: 635px;
}

.intro__title {
    font-size: 1.8vw;
    color: #4A4FF2;
    font-weight: 700;
}

.intro__paragraph {
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 32px;
}

.intro--purple {
    color: #4A4FF2;
}

.quote__container {
    align-self: flex-end;
    max-width: 212px;
    position: relative;
    bottom: 3vh;
}

.quote__line {
    height: 2px;
    width: 30px;
    margin-bottom: 9px;
    background-color: #979797;
}

.quote {
    font-size: 100%;
    font-weight: 400;
    font-style: italic;
    opacity: 0.6;
}


/*-------------------------*/
/* IMAGE SECTION */
/*------------------------*/

.img__container {
    height: 281vh;
    margin-top: 144px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

.img:nth-of-type(1) {
    background-image: url('../images/img-1.png');
    background-size: cover;
    grid-area: 1 / 1 / 8 / 4;
}

.img:nth-of-type(2) {
    background-image: url('../images/img-2.png');
    background-size: cover;
    grid-area: 8 / 1 / 16 / 4;
}

.img:nth-of-type(3) {
    background-image: url('../images/img-3.png');
    background-size: cover;
    grid-area: 16 / 1 / 24 / 4;
}

.img:nth-of-type(4) {
    background-image: url('../images/img-4.png');
    background-size: cover;
    grid-area: 24 / 1 / 33 / 4;
}

.img:nth-of-type(5) {
    background-image: url('../images/img-5.png');
    background-size: cover;
    grid-area: 1 / 4 / 7 / 7;
}

.img:nth-of-type(6) {
    background-image: url('../images/img-6.png');
    background-size: cover;
    grid-area: 7 / 4 / 14 / 7;
}

.img:nth-of-type(7) {
    background-image: url('../images/img-7.png');
    background-size: cover;
    grid-area: 14 / 4 / 23 / 7;
}

.img:nth-of-type(8) {
    background-image: url('../images/img-8.png');
    background-size: cover;
    grid-area: 23 / 4 / 33 / 7;
}

.img:nth-of-type(9) {
    background-image: url('../images/img-9.png');
    background-size: cover;
    grid-area: 1 / 7 / 11 / 10;
}

.img:nth-of-type(10) {
    background-image: url('../images/img-10.png');
    background-size: cover;
    grid-area: 11 / 7 / 18 / 10;
}

.img:nth-of-type(11) {
    background-image: url('../images/img-11.png');
    background-size: cover;
    grid-area: 18 / 7 / 27 / 10;
}

.img:nth-of-type(12) {
    background-image: url('../images/img-12.png');
    background-size: cover;
    grid-area: 27 / 7 / 33 / 10;
}


/*-------------------------*/
/* INFO SECTION */
/*------------------------*/

.info-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px; 
    margin-top: 90px;
}

.info__paragraph {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
    grid-column: 1 / 7;
    margin-bottom: 100px;
}

.service__list:nth-of-type(1) {
    grid-column: 9 / 11;
    margin-left: -30px;
}

.service__list:nth-of-type(2) {
    grid-column: 11 / 13;
}

.service__link {
    text-decoration: none;
    font-size: 18px;
    opacity: 0.6;
    color: black;
    line-height: 2;
    transition: .2s ease;
}

.service__link:hover {
    opacity: 1;
    color: #4A4FF2;
}

.line {
    height: 2px;
    background-color: #D8D8D8;
    grid-column: 1 / 13;
    margin-bottom: 50px;
}


/*---------- AWARDS -----------*/

h3.grid__item {
    font-weight: 700;
    font-size: 22px;
    grid-column: 1 / 3;
}

h4.grid__item {
    font-weight: 700;
    font-size: 18px;
    grid-column: 5 / 8;
}

div.grid__item {
    grid-column: 8 / 11;
}

h5.grid__item {
    font-weight: 700;
    font-size: 16px;
}

p.grid__item {
    font-size: 16px;
    font-weight: 400; 
    margin-top: 12px;
    opacity: 0.6;
}

p.year {
    grid-column: 12 / 13;
    margin-top: 0px;
    margin-left: 30px;
    opacity: 1;
}

.row__gap {
    grid-column: 1 / 13;
    height: 80px;
}

.margin-top--line {
    margin-top: 58px;
}

/*---------- FOOTER -----------*/

.footer {
    margin-top: 114px;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    width: 100%;   
}

.footer__nav__list {
    position: relative;
    left: 17vw;
}

.socials {
    display: flex;
}

.socials__link {
    width: 15px;
    margin-left: 24px;
    transition: .2s;
}

svg {
    width: 15px;
    height: 15px;
}

  svg:hover {
    fill: #4A4FF2;
}